@font-face {
  font-family: OpenSans;
   src: url("assets/fonts/OpenSans.ttf");
 }

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'OpenSans', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header{
  background-color: #83bcf1;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.nav-link a {
  color: #829985;

}
.nav-link:hover {
  transition: 0.5s;
  color: #4d2323;
  font-size: 21px;
}